/* .navbar { 
  background-color: #f2ebeb;
}
.subnav {
  transition: all 0.1s ease-in-out;
}
.subnav:hover {
  transform: scale(1.4);
  color: #393939;
  font-weight: bold;
}

*/

/* Kelas Body */
.body {
  background-color: #0d0d0d;
  background: url(img/Frame\ 2.png);
}
/* tutup body */

/* Oembuja */
.navbar {
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.futer {
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}
.subnav {
  transition: all 0.1s ease-in-out;
}
.subnav:hover {
  transform: scale(1.4);
  color: #0000;
  font-weight: bold;
}
/* Percobaan Navbar  */
*/

/* writing animation */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.0005em; /* Adjust as needed */
  animation-name: typing;
  animation: typing 5s steps(20, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f2ebeb;
  }
}
/* penutup writing animation  */

.btn {
  background-color: #393939;
  color: #f2ebeb;
}

.btn {
  background-color: none;
  color: #f2ebeb;
  margin: 0px 10px;
  text-align: center;
  font-size: 16px;
  transition: 0.8s;
  margin-bottom: 20px;
}
.btn:hover {
  background-color: #f2ebeb;
  color: #393939;
}

#design_hamalan_project {
  background-color: #0d0d0d;
  background: none;
}

#jumbotron {
  position: relative;
  padding-top: 40px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(img/Frame\ 1.png) no-repeat;
  background-size: cover;
  background-position: center;
}
/* background Jumbotron  */
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}
.botleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
}
/* Effect kaca pada about me  */
.kaca {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
/* Effect kaca pada about me  */

/* Buka Percobaan Txt kanan*/
.textkanan {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
/* Tutup Percobaan Txt kanan*/
#project1 {
  background-color: #0d0d0d;
  margin: 0px;
  background: url(img/Frame\ 9.png) no-repeat;
  background-size: cover;
  background-position: center;
}
#project {
  background-color: #0d0d0d;
  margin: 0px;
  margin-left: 0px;
  background: url(img/Frame\ 8.png) no-repeat;
  background-size: cover;
  background-position: center;
}

#cardfooter {
  background-color: #f2ebeb;
}

/* Experience Style */

#experience {
  background-color: #0d0d0d;
  margin: 0 px;
  background: url(img/Frame\ 5.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.cc-experience .cc-experience-header {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 0;
  text-align: center;
  color: #393939;
  text-transform: uppercase;
  background-color: #f2ebeb;
}

.work {
  color: #393939;
  font-weight: bolder;
}
/* contact */

#contact {
  background-color: #0d0d0d;
  margin: 0px;
  background: url(img/Frame\ 10.png) no-repeat;
  background-size: cover;
  background-position: center;
}

#contact .contact-list {
  display: inline-block;

  margin: 0;
  padding: 3rem 0 0 0;
  background-color: none;
  list-style: none;

  text-align: left;
}

#contact .contact-list .contact-list-item {
  margin-bottom: 4rem;
}

#contact .contact-list .contact-list-item .contact-type {
  display: inline-block;

  margin-right: 1.6rem;
  padding: 0 3.5rem;

  border-radius: 3.5rem;
  background: #393939;
}

#contact .contact-list .contact-list-item .contact-type i {
  font-size: 2rem;
  line-height: 7rem;

  margin-right: 0.3em;
}

#contact .contact-list .contact-list-item .contact-type h6 {
  font-weight: 500;

  margin-right: 0.3em !important;

  color: #fff;
}

#contact .contact-list .contact-list-item h6 {
  line-height: 6rem;

  display: inline-block;

  margin: 0;
}

#contact .contact-list .contact-list-item .contact-type a {
  font-weight: 500;

  margin-right: 0.3em !important;

  color: #fff;

  text-align: center;
}

#contact .contact-list .contact-list-item a {
  line-height: 6rem;

  display: inline-block;

  margin: 0;
}

@media (max-width: 500px) {
  #contact .contact-list .contact-list-item {
    text-align: center;
  }

  #contact .contact-list .contact-list-item .contact-type {
    display: block;

    margin-bottom: 2rem;

    text-align: center;
  }
}
/* tutup contact */

/* Footer 2 */
.footer-basic {
  padding: 40px 0;
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  color: #f2ebeb;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
/* Penutup Footer 2 */

/* jumbotron muka gua */
.muka1 {
  position: relative;
  text-align: center;

  animation-name: muka1;
  animation-duration: 1.5s;
}

@keyframes muka1 {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}
/* penutup jumbotron muka gua  */

/* about */
#about {
  background-color: #0d0d0d;
  margin: 20px;
  margin-bottom: 300px;
  height: 789px;
  background: url(img/Frame\ 3.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.education {
  background-color: #0d0d0d;
  margin: 10px;
  height: 870px;
  background: url(img/Frame\ 7.png) no-repeat;
  background-size: cover;
  background-position: center;
}

/*  */

/* gambar bergerak */
.main {
  display: flex;
  overflow: hidden;
  height: 50vw;
  background: #333;
}

.main img {
  max-width: 100%;
  vertical-align: middle;
  border: 2px solid white;
  box-sizing: border-box;
  transition: opacity 0.2s;
}

.main:hover img {
  opacity: 0.05;
}

.main img:hover {
  opacity: 3;
}

.main .single-column {
  animation: var(--animation, none) 16s infinite linear;
}

.main .single-column:hover {
  animation-play-state: paused;
  transform: scale(2);
}

.main .single-column:nth-of-type(odd) {
  align-self: flex-end;
  --direction: 50%;
}

@keyframes slide {
  to {
    -webkit-transform: translateY(var(--direction, -50%));
    transform: translateY(var(--direction, -50%));
  }
}
/* tutup gambar bergerak  */

/* video */

.video1 {
  background: url(img/Frame\ 4.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.video {
  margin: 10px;
}
/* penutup video */

/* pejct2 */
#project2 {
  background-color: #f2ebeb;
  margin: 100px;
}

/* social*/
.contact {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #393939;
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    background-color: #aaa0a0;
  }
  100% {
    background-color: #393939;
    bottom: 50px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}

/* namecard */

.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.namecard {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  color: #ffffff;
  margin-right: 1.6rem;
  padding: 1rem;
  border-radius: 3.5rem;
  text-align: center;
  position: relative;
}

/* Divider */
.wrapper {
  padding-bottom: 90px;
}

.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: none;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}

.div-tab-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: none;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-left: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
  border-radius: 0 0 8px 8px;
}

.div-stopper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: black;
  border-left: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px black, 0 0 0 4px black;
}

/* Penutup Divider */

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* test */

/* test */
